{$DOMAIN:localhost} {
	encode zstd gzip

	@bitrixApp path /bitrix/app /bitrix/app/
	handle @bitrixApp {
		header {
			-X-Frame-Options
			Content-Security-Policy "frame-ancestors 'self' https://rtm-group.bitrix24.ru"
		}
		method GET
		rewrite * /
		reverse_proxy frontend:80
	}

	@bitrixInstall path /bitrix/install /bitrix/install/
	handle @bitrixInstall {
		header {
			-X-Frame-Options
			Content-Security-Policy "frame-ancestors 'self' https://rtm-group.bitrix24.ru"
		}
		reverse_proxy backend:8000
	}

	handle /api/* {
		header X-Frame-Options "SAMEORIGIN"
		reverse_proxy backend:8000
	}

	handle {
		header {
			-X-Frame-Options
			Content-Security-Policy "frame-ancestors 'self' https://rtm-group.bitrix24.ru"
		}
		reverse_proxy frontend:80
	}

	header {
		-Server
		X-Content-Type-Options "nosniff"
		Referrer-Policy "strict-origin-when-cross-origin"
	}
}
